        body {
            font-family: Arial;
            padding: 30px;
        }
        
        input,
        select,
        textarea,
        button {
            display: block;
            margin: 10px 0;
            padding: 8px;
        }